<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><!--{$language.title}--></title>
<LINK href="/templates/new_admin/img/main.css" type=text/css rel=stylesheet>
<script type="text/javascript" src="/templates/new_admin/img/js/jquery.js"></script>
<script type="text/javascript" SRC="/templates/new_admin/img/js/swfobject.js"></script>

</head>
<body>
<div id="top">
		<div class="wrapper">
			<!-- Title/Logo - can use text instead of image -->
			<div id="title"><h1>平台管理</h1></div>
			<!-- Top navigation -->
			<div id="topnav">
				<!--{$smarty.session.admin_name}--></b>,<!--{$language.welcome}-->
				<span>|</span> <a href='?sort=start'><!--{$language.menu_main}--></a>
                <span>|</span> <a href='?sort=start&do=log_list'><!--{$language.menu_log}--></a>
				<span>|</span> <a href='?sort=start&do=clear_cache'><!--{$language.menu_clear}--></a>
				<span>|</span> <a href='?sort=logout'><!--{$language.menu_logout}--></a>
			</div>
			<!-- End of Top navigation -->
			<!-- Main navigation -->
			<div>
				<ul class="sf-menu">
                <li><a HREF="?sort=start">首页</a></li>
					<li  class="current"><a HREF="?sort=game_flat">管理平台</a></li>
					<li><a HREF="?sort=websites">管理官网</a></li>
					<li><a HREF="?sort=user">用户列表</a></li>	
					<li><a HREF="?sort=pay">充值记录</a></li>
                    <li><a HREF="?sort=graphs">图表</a></li>	
				</ul>
			</div>
			<!-- End of Main navigation -->
			<!-- Aside links -->
			<!-- End of Aside links -->
		</div>
	</div>
	<!-- End of Header ----------------------------------------------------------------------------------------华丽丽的分割线-->
</div>
<!-- Page title -->
	<div id="pagetitle">
		<div class="wrapper">
			<h1>平台管理 - 权限管理</h1>
		</div>
	</div>
	<!-- End of Page title ------------------------------------------------------------------------------------------华丽丽的分割线-->

<table width="1000" cellpadding="0" cellspacing="0" align="center">
<tr>
<td valign="top">
<div class='title'>
<a href="?sort=game_flat&action=admin&do=admin_add"><!--{$language.admin_add}--></a>
&raquo;&nbsp;<!--{$language.admin_list}--></div>
<div class='item'>
	<table cellspacing="0" cellpadding="0" width="100%">
	<!--{foreach from=$admin_list item=admin}-->
	<tr>
	<td height="28" align="center" width="40"><!--{$admin.id}--></td>
	<td>
	<a href="?sort=game_flat&action=admin&do=admin_edit&admin_id=<!--{$admin.id}-->" class="name"><!--{$admin.name}--></a>&nbsp;<span style="font-size:10px;color:#ccc">(<!--{$admin.password}-->)</span>
	</td>
	
	<td width="100" align="center" >
	<!--{if $smarty.session.admin_name!=$admin.name}-->
	<a href="?sort=game_flat&action=admin&do=admin_edit&admin_id=<!--{$admin.id}-->"><!--{$language.edit}--></a>
	<a href="?sort=game_flat&action=admin&do=admin_delete&admin_id=<!--{$admin.id}-->" onclick="return confirm('<!--{$language.confirm_delete}-->')"><!--{$language.delete}--></a>
	<!--{/if}-->
	</td>

	</tr>
	<tr><td height="1" bgcolor="#eeeeee" colspan="4"></td></tr>
	<!--{foreachelse}-->
	<tr><td height="50" colspan="2" align="center"><!--{$language.nodata}--></td></tr>
	<!--{/foreach}-->
	</table>
</div>
</td>
</tr>
</table>
</body>
</html>