<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title><!--{$language.title}--></title>
<LINK href="/templates/admin/image/admin.css" type=text/css rel=stylesheet>
<LINK href="/templates/admin/image/reset.css" type=text/css rel=stylesheet>
<script type="text/javascript" src="scripts/jquery.js"></script>
</head>
<body>
<!--{include file="top.htm"}-->
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td width="250" valign="top"><!--{include file="left.htm"}--></td>
<td valign="top">
<div class='title'>
<a href="?action=config&do=sp_add"><!--{$language.sp_add}--></a>
&raquo;&nbsp;<!--{$language.sp_list}--></div>
<div class='item'>
	<table cellspacing="0" cellpadding="0" width="100%">
	<!--{foreach from=$sp_list item=sp}-->
	<tr>
	<td height="28" align="center" width="40"><!--{$sp.id}--></td>
	<td>
	<a href="?action=config&do=sp_edit&sp_id=<!--{$sp.id}-->" class="name"><!--{$sp.name}--></a>
	</td>
	
	<td width="100" align="center" >
	<!--{if $smarty.session.sp_name!=$sp.name}-->
	<a href="?action=config&do=sp_delete&sp_id=<!--{$sp.id}-->" onclick="return confirm('<!--{$language.confirm_delete}-->')"><!--{$language.delete}--></a>
	<!--{/if}-->
	</td>

	</tr>
	<tr><td height="1" bgcolor="#eeeeee" colspan="4"></td></tr>
	<!--{foreachelse}-->
	<tr><td height="50" colspan="2" align="center"><!--{$language.nodata}--></td></tr>
	<!--{/foreach}-->
	</table>
</div>
</td>
</tr>
</table>
</body>
</html>