<div class=hr5></div>
<div class="sepage">
  <div class="sepage_left">
  	<div class="sepage_left_title"></div>
    <div class="sepage_left_neirong">
    <!--{include file="part_news.html"}-->
    </div>
  </div>
  <!--热门话题-->
  <div class="sepage_center">
<div class="hr30"></div>
<!--{include file="part_game_best.html"}-->
  </div>
 <!--热门话题结束--> 

  <div class="sepage_right">
<!--{include file="wenti.html"}-->
<div class=hr10></div>      
<!--{include file="kefu.html"}-->
</div>
</div>

<div class=hr10></div>
<div class=hualili></div>