<DIV class=cs_div>
          <H4 class=hid><font color="#000000">客服中心</font></H4>
          <p><font color="#000000">玩家交流QQ群：247551170 </font></p>
		  <p><font color="#000000">推广合作交流群：253221334 </font></p>
          <p><font color="#000000">客服QQ</font>：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1353477780&site=qq&menu=yes"><font color="#000000">1353477780</font></a> </p>
          <p><a class=c1 title=帐号申诉 href="#"><SPAN><font color="#000000">帐号申诉</font></SPAN></a> <a class=c2 title=在线客服 href="#"><font color="#000000">在线客服</font></a> </p>
</DIV>