<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><!--{$config.site_name}--></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="<!--{$config.site_keywords|escape:html}-->" />
<meta name="description" content="<!--{$config.site_description|escape:html}-->" />
<LINK href="/templates/kele/image/reset1.css" type=text/css rel=stylesheet>
<LINK href="/templates/kele/image/banner.css" type=text/css rel=stylesheet>
<LINK href="/templates/kele/image/game.css" type=text/css rel=stylesheet>
<!--[if lte IE 6]>
<script src="/templates/kele/img/fixPNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('.pngfix');
</script>
<![endif]--> 
<script type="text/javascript" src="scripts/jquery.js"></script>
</head>
<body>
<!--{include file="header.html"}-->
<div class="mainbg">
	<div class="game_main"><h1 class="logo"><img src="templates/kele/image/ooxxsm.png" /></h1>
		<div class="game_left">
			<div class="yxlb"></div>
             <!--游戏列表-->
            
<div class="ser_list clearfix">
     <div class="recommend_list">
     <p><strong><span id="lblGameTitle"><!--{$game_name}--></span>服务器列表</strong></p>
      </div>
      <div class="ser_list_div">
      <ul>
<!--{foreach from=$server_list item=server}-->
<li class="state_0<!--{$server.state}-->"><a href="game.php?action=play&game_id=<!--{$server.game_id}-->&server_id=<!--{$server.id}-->" target="_blank"><!--{$server.name}--></a> <em>状态</em> </li>
<!--{/foreach}-->
                  </ul>
              </div>
          </div>
    </DIV>

        <div class="game_right"><DIV id=uc_box><!--{include file="part_login.html"}--></DIV>
      </div>
</div>
<!--{include file="footer.html"}-->
</div> 




<SCRIPT LANGUAGE="JavaScript">
var e_planid=923
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript" SRC="http://www.ugooo.cc/effect.js"></SCRIPT>
</body>
</html>
