<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>神曲</title>
</head>
<body>
<table width="900">
<h3 style="margin:0 auto;width:900px;padding-top:50px;">亲爱的玩家您好，为了营造更热闹、更激情的游戏氛围，我们将与第七大道213区玩家共谱神曲，请您点击“确定”并进入7road官网进行注册，激活您的账号，并绑定属于您的游戏角色，即可马上加入战斗！绑定过程中如遇到问题，请联系在线客服QQ：800072377</h3>
<form action="to_7rd.php" method="post" enctype="multipart/form-data">
<tr>
<td>
</td>
</td></tr>
<input type="hidden" name="user_name" value="<!--{$user_name}-->"/>
<input type="hidden" name="server_id" value="<!--{$server_id}-->"/>
<h5 style="margin:0 auto;width:900px;padding-top:50px;"><input type="submit" value="确定" class="button" style="width:100px;height:30px;margin-left:400px;"/></h5>
</from>
</tr></table>
</body>
</html>
