
<style type="text/css">
<!--
.body{font-family: Helvetica, Verdana, Arial, sans-serif;background:#000000;}
.content{width:1190px;margin:0 auto;position:absolute;}
.unityPlayer{width:1190px;height:700px;}
.missing {margin: auto;position: relative;top: 50%;width: 193px;}
-->
</style>

<body onLoad="sendMessage()">
		<div class="content">
			<div id="unityPlayer">
				<div class="missing">
					<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
						<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
					</a>
				</div>
			</div>
		</div>