/* pic */
* {
	padding:0;
	margin:0;
	font-size:12px;
}
body {
	background:#000;
	text-align:center;
	margin:0 auto;
}
img {
	border:0;
	display:block;
}
.cen{
	width:1000px;
	height:600px;
	margin:0 auto;
}
.swf{

    width:1000px;
    height:600px;
	z-index:9;
}
